## Индекс мосбиржи полной доходности MCFTR

In [22]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv("archive_indices_2018-01-01-2023-12-31.csv", encoding="Windows-1251", sep=";")

In [24]:
df.head()

,ID,NAME,TRADEDATE,OPEN,HIGH,LOW,CLOSE,VALUE,DURATION,YIELD
0,MCFTR,Индекс МосБиржи полной доходности «брутто»,2018-01-03,"3208,77","3208,77","3208,77","3208,77","21076095059,7",NaN,NaN
1,MCFTR,Индекс МосБиржи полной доходности «брутто»,2018-01-04,"3275,28","3275,28","3275,28","3275,28","36531245623,15",NaN,NaN
2,MCFTR,Индекс МосБиржи полной доходности «брутто»,2018-01-05,"3291,57","3291,57","3291,57","3291,57","25985573299,45",NaN,NaN
3,MCFTR,Индекс МосБиржи полной доходности «брутто»,2018-01-09,"3318,38","3318,38","3318,38","3318,38","44389501692,95",NaN,NaN
4,MCFTR,Индекс МосБиржи полной доходности «брутто»,2018-01-10,"3328,64","3328,64","3328,64","3328,64","40081917520,9",NaN,NaN

In [25]:
df = df.drop(columns=['NAME', 'OPEN', 'OPEN', "HIGH", "LOW", "VALUE", "DURATION", "YIELD"])

In [26]:
df.head()

      ID   TRADEDATE    CLOSE
0  MCFTR  2018-01-03  3208,77
1  MCFTR  2018-01-04  3275,28
2  MCFTR  2018-01-05  3291,57
3  MCFTR  2018-01-09  3318,38
4  MCFTR  2018-01-10  3328,64

In [27]:
df['TRADEDATE'] = pd.to_datetime(df['TRADEDATE'])
df.CLOSE = df.CLOSE.str.replace(',', '.').astype(np.float32)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1498 non-null   object
 1   TRADEDATE  1498 non-null   datetime64[ns]
 2   CLOSE      1498 non-null   float32
dtypes: datetime64[ns](1), float32(1), object(1)
memory usage: 29.4+ KB

In [39]:
df_2018 = df[df['TRADEDATE'].between('2018-01-01', '2018-12-31')]
df_2019 = df[df['TRADEDATE'].between('2019-01-01', '2019-12-31')]
df_2020 = df[df['TRADEDATE'].between('2020-01-01', '2020-12-31')]
df_2021 = df[df['TRADEDATE'].between('2021-01-01', '2021-12-31')]
df_2022 = df[df['TRADEDATE'].between('2022-01-01', '2022-12-31')]
df_2023 = df[df['TRADEDATE'].between('2023-01-01', '2023-12-31')]

In [43]:
df_2019.shape

(252, 3)

In [47]:
value_2018 = np.mean(df_2018["CLOSE"])
value_2019 = np.mean(df_2019["CLOSE"])
value_2020 = np.mean(df_2020["CLOSE"])
value_2021 = np.mean(df_2021["CLOSE"])
value_2022 = np.mean(df_2022["CLOSE"])
value_2023 = np.mean(df_2023["CLOSE"])

In [48]:
value_2018, value_2019, value_2020, value_2021, value_2022, value_2023

(3536.5762, 4400.6367, 5027.6455, 6989.844, 4795.273, 6100.1123)

## Индекс волатильности российского рынка RVI

In [67]:
df_rvi = pd.read_csv("security.csv", encoding="Windows-1251", sep=";")

In [68]:
df_rvi.head(2)

,BOARDID,SECID,TRADEDATE,SHORTNAME,NAME,CLOSE,OPEN,HIGH,LOW,VALUE,DURATION,YIELD,DECIMALS,CAPITALIZATION,CURRENCYID,DIVISOR,TRADINGSESSION,VOLUME,TRADE_SESSION_DATE,RECALC_DATE
0,RTSI,RVI,03.01.2018,Индекс RVI,Индекс волатильности RVI,"17,95","16,66","18,02","15,83",0,NaN,NaN,2,0,NaN,NaN,3,NaN,03.01.2018,NaN
1,RTSI,RVI,04.01.2018,Индекс RVI,Индекс волатильности RVI,"18,05","16,78","20,07","16,65",0,NaN,NaN,2,0,NaN,NaN,3,NaN,04.01.2018,NaN

In [69]:
df_rvi = df_rvi[["NAME", "CLOSE", "TRADE_SESSION_DATE"]]

In [70]:
df_rvi.head()

                       NAME  CLOSE TRADE_SESSION_DATE
0  Индекс волатильности RVI  17,95         03.01.2018
1  Индекс волатильности RVI  18,05         04.01.2018
2  Индекс волатильности RVI  16,77         05.01.2018
3  Индекс волатильности RVI  17,13         09.01.2018
4  Индекс волатильности RVI   17,5         10.01.2018

In [75]:
df_rvi['TRADE_SESSION_DATE'] = pd.to_datetime(df_rvi['TRADE_SESSION_DATE'], dayfirst=True)

In [79]:
df_rvi.CLOSE = df_rvi.CLOSE.str.replace(',', '.').astype(np.float32)

In [81]:
df_rvi_2018 = df_rvi[df_rvi['TRADE_SESSION_DATE'].between('2018-01-01', '2018-12-31')]
df_rvi_2019 = df_rvi[df_rvi['TRADE_SESSION_DATE'].between('2019-01-01', '2019-12-31')]
df_rvi_2020 = df_rvi[df_rvi['TRADE_SESSION_DATE'].between('2020-01-01', '2020-12-31')]
df_rvi_2021 = df_rvi[df_rvi['TRADE_SESSION_DATE'].between('2021-01-01', '2021-12-31')]
df_rvi_2022 = df_rvi[df_rvi['TRADE_SESSION_DATE'].between('2022-01-01', '2022-12-31')]
df_rvi_2023 = df_rvi[df_rvi['TRADE_SESSION_DATE'].between('2023-01-01', '2023-12-31')]

In [82]:
value_df_rvi_2018 = np.mean(df_rvi_2018["CLOSE"])
value_df_rvi_2019 = np.mean(df_rvi_2019["CLOSE"])
value_df_rvi_2020 = np.mean(df_rvi_2020["CLOSE"])
value_df_rvi_2021 = np.mean(df_rvi_2021["CLOSE"])
value_df_rvi_2022 = np.mean(df_rvi_2022["CLOSE"])
value_df_rvi_2023 = np.mean(df_rvi_2023["CLOSE"])

In [83]:
value_df_rvi_2018, value_df_rvi_2019, value_df_rvi_2020, value_df_rvi_2021, value_df_rvi_2022, value_df_rvi_2023

(25.045511, 21.28861, 36.96196, 27.619804, 60.105648, 29.825867)

## Индекс Мосбиржи государственных облигаций с уч. доходности RGBITR

In [88]:
df_rgbitr = pd.read_csv("RGBITR.csv", encoding="Windows-1251", sep=";")

In [90]:
df_rgbitr.head(2)

,BOARDID,SECID,TRADEDATE,SHORTNAME,NAME,CLOSE,OPEN,HIGH,LOW,VALUE,DURATION,YIELD,DECIMALS,CAPITALIZATION,CURRENCYID,DIVISOR,TRADINGSESSION,VOLUME,TRADE_SESSION_DATE,RECALC_DATE
0,SNDX,RGBITR,03.01.2018,Индекс Мосбиржи гос обл RGBITR,Индекс Мосбиржи государственных облигаций,"467,85","467,14","467,85","467,08","24771675,11",1791,"7,35",2,"4,6315E+12",RUB,1,3,NaN,03.01.2018,NaN
1,SNDX,RGBITR,04.01.2018,Индекс Мосбиржи гос обл RGBITR,Индекс Мосбиржи государственных облигаций,"468,4","468,22","468,4","467,58","33462603,15",1791,"7,33",2,"4,63697E+12",RUB,1,3,NaN,04.01.2018,NaN

In [91]:
df_rgbitr = df_rgbitr[["NAME", "CLOSE", "TRADEDATE"]]

In [92]:
df_rgbitr.head()

                                        NAME   CLOSE   TRADEDATE
0  Индекс Мосбиржи государственных облигаций  467,85  03.01.2018
1  Индекс Мосбиржи государственных облигаций   468,4  04.01.2018
2  Индекс Мосбиржи государственных облигаций  468,64  05.01.2018
3  Индекс Мосбиржи государственных облигаций  469,35  09.01.2018
4  Индекс Мосбиржи государственных облигаций  470,29  10.01.2018

In [93]:
df_rgbitr['TRADEDATE'] = pd.to_datetime(df_rgbitr['TRADEDATE'], dayfirst=True)
df_rgbitr.CLOSE = df_rgbitr.CLOSE.str.replace(',', '.').astype(np.float32)

In [94]:
df_rgbitr_2018 = df_rgbitr[df_rgbitr['TRADEDATE'].between('2018-01-01', '2018-12-31')]
df_rgbitr_2019 = df_rgbitr[df_rgbitr['TRADEDATE'].between('2019-01-01', '2019-12-31')]
df_rgbitr_2020 = df_rgbitr[df_rgbitr['TRADEDATE'].between('2020-01-01', '2020-12-31')]
df_rgbitr_2021 = df_rgbitr[df_rgbitr['TRADEDATE'].between('2021-01-01', '2021-12-31')]
df_rgbitr_2022 = df_rgbitr[df_rgbitr['TRADEDATE'].between('2022-01-01', '2022-12-31')]
df_rgbitr_2023 = df_rgbitr[df_rgbitr['TRADEDATE'].between('2023-01-01', '2023-12-31')]

In [95]:
value_df_rgbitr_2018 = np.mean(df_rgbitr_2018["CLOSE"])
value_df_rgbitr_2019 = np.mean(df_rgbitr_2019["CLOSE"])
value_df_rgbitr_2020 = np.mean(df_rgbitr_2020["CLOSE"])
value_df_rgbitr_2021 = np.mean(df_rgbitr_2021["CLOSE"])
value_df_rgbitr_2022 = np.mean(df_rgbitr_2022["CLOSE"])
value_df_rgbitr_2023 = np.mean(df_rgbitr_2023["CLOSE"])

In [96]:
value_df_rgbitr_2018, value_df_rgbitr_2019, value_df_rgbitr_2020, value_df_rgbitr_2021, value_df_rgbitr_2022, value_df_rgbitr_2023

(475.04633, 522.58905, 599.802, 603.5388, 586.0853, 614.4136)